*{
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: aqua;
    width: 100vw;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100px;
}
.mainHeader{
    display: flex ;
    align-items:flex-end;
    margin-bottom: 15px;
}
.mainHeader > div{
    margin-left: 15px;
}
.rightHeader{
    display: flex;
    flex-direction: column;
   justify-content: flex-end;

}
.rightHeaderDiv{
    display:flex ;
}
.rightHeaderDiv > div {
    margin-left: 10px;
    margin: 10px;
}