* {
  margin: 0;
}
/*?Header*/

.headerZero {
  height: 40px;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* .header {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 80px;
  width: 100vw;
  justify-content: space-between;

}
.logo {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 70px;
  margin-left: 30px;
}
.mainHeader {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  column-gap: 10px;
}
.mainHeader > div {
  margin-left: 15px;
  font-weight: bold;
}
.rightHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.rightHeaderDiv {
  display: flex;
}
.rightHeaderDiv > div {
  margin-left: 10px;
  margin: 10px;
} */
.header{
  border: 1px solid #ECEFF1;
  display: flex;
  flex-direction: row;
  height: 9vh;
  width: 100vw;
  justify-content: space-between;
  
}
.logo{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100px;
}
.mainHeader{
  display: flex ;
  align-items:flex-end;
  margin-left: 250px;
  margin-bottom: 15px;
}
.mainHeader > div{
  margin-left: 15px;
  font-weight: bolder;
  color: black;
}
.rightHeader{
  display: flex;
  flex-direction: column;
 justify-content: flex-end;

}
.rightHeaderDiv{
  display:flex ;
  font-size:13px;
  padding-right: 20px;
}
.rightHeaderDiv > div {
  margin-left: 10px;
  margin: 10px;
}
.hovered{
  margin-left: 10px;
  font-size: 20px;
  font-weight: 800;
}
.hovered:visited{
  color: black
}

/* Body */

.Body {
  height: calc(100vh);
  background-size: contain;
  width: 100vw;
  background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/bask-ss23-chapter2-hp-mh-large-launch_dual-gender-d_tcm221-994207.jpg");
  background-repeat: no-repeat;
}
a:link {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.navbarMain {
  border: 1px solid white;
}
.navbarMain:hover {
  border: 1px solid grey;
  box-shadow: 5px 5px 0px 0px rgb(182, 180, 180);
}
.imageOfItem {
  width: 278px;
  height: 278px;
  border-radius: 10px;
}
.imageOfItem:hover {
  width: 300px;
  height: 300px;
}
.navbarHelper:hover {
  width: 278px;
  height: 278px;
  border-radius: 10px;
  overflow: hidden;
}
.height {
  min-height: 80vh;
}